@define-color bg_main rgba(26, 27, 38, 0.9);
@define-color bg_main_st rgba(26, 27, 38, 0.7);

* {
    border: none;
    border-radius: 5px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka Nerd Font, Inter, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;

}

window.default#waybar {
    background-color: transparent;
    border-bottom: 3px solid rgba(0, 0, 0, 0.0);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}

window.GNOME#waybar {
    background-color: @bg_main;
    border-bottom: 3px solid rgba(0, 0, 0, 0.0);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}

window.Windows#waybar {
    background-color: @bg_main;
    border-bottom: 0px solid rgba(0, 0, 0, 0.0);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}


window.MacOS#waybar {
    background-color: @bg_main_st;
    border-bottom: 3px solid rgba(0, 0, 0, 0.0);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}

window#waybar.hidden {
    background-color: rgba(26, 27, 38, 0.5);
    color: #c0caf5;
}

window#waybar.empty #window {
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    background-color: transparent;
    box-shadow: inset 0 -3px #7aa2f7;
}

#custom-os_button {
    background-color: transparent;
    color: #c0caf5;
    padding-left: 7px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #c0caf5;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    box-shadow: inset 0 -3px #7aa2f7;
}

#workspaces button.urgent {
    background-color: #f7768e;
}

#submap,
#cpu,
#memory,
#temperature,
#battery,
#network,
#bluetooth,
#idle_inhibitor,
#tray,
#clock {
    color: #c0caf5;
    background-color: transparent;
}

#cpu,
#memory,
#temperature {
    padding: 0 7px;
}

window.Windows#waybar #cpu,
window.Windows#waybar #memory {
    padding: 0 7px;
}

window.Windows#waybar #temperature {
    padding-left: 7px;
    padding-right: 5px;
}

#battery {
    padding: 0 12px;
}

window.Windows#waybar #battery {
    padding-left: 5px;
    padding-right: 12px;
}

#network {
    padding: 0 3px;
}

#bluetooth {
    padding: 0 5px;
}

#idle_inhibitor {
    padding: 0 5px;
}

#tray {
    padding: 0 5px;
}

#clock {
    padding-left: 3px;
    padding-right: 7px;
}

tooltip {
    background-color: @bg_main;
}

tooltip label {
    color: #c0caf5;
}

#window,
#workspaces {
    margin: 0 4px;
}

window.default#waybar .modules-left,
window.default#waybar .modules-center,
window.default#waybar .modules-right {
    background-color: @bg_main;
    border-radius: 10px;
}

window.default#waybar.empty .modules-center {
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
